.header {
    grid-area: h;
    background-color: #800080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header h1 {
    color: white;
    margin: 0 25px;
}

.header img {
    width: 20px;
    margin: 0 20px;
}

.loginBlock {

}

.loginBlock a{
    color: white;
    text-decoration: none;
    transition: 250ms linear;
    font-size: 18px;
}

.loginBlock a:hover{
    color: black;
}
