.item {
    padding: 15px;
    display: flex;
}


.item img {
    max-height: 50px;
    width: 50px;
    border-radius: 50px;
    align-self: flex-end;
}

.message {
    min-height: 70px;
    background-color: white;
    min-width: 200px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.textMessage {
    align-self: center;
}

.message span {
    align-self: flex-end;
    color: #800080;
}