.item {
    padding: 15px;
    display: flex;
}


.item img {
    max-height: 50px;
    width: 50px;
    border-radius: 50px;
    align-self: flex-end;
    border: 3px solid #ecd8e9;
}

.message {
    min-height: 70px;
    background-color: #ecd8e9;
    min-width: 200px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 0 10px;
}

.textMessage {
    align-self: center;
}

.message span {
    align-self: flex-end;
    color: #800080;
    font-size: 12px;
}