.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;

}

.dialogsItems {
    padding: 10px;
    background-color: #ecd8e9;
}

.dialog {
    text-align: center;
    border-radius: 12px;
    transition: 200ms linear;

}

.dialog:hover {
    background-color: white;
    box-shadow: gray 1px 1px 1px;
}

.dialogLink {
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}