.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;

}

.dialogsItems {
    padding: 10px;
    background-color: #ecd8e9;

}

.avatar {
    max-width: 40px;
    flex: 0 0 40px;
    padding-left: 10px;
    border-radius: 45px;
}

.dialog {
    text-align: center;
    border-radius: 12px;
    transition: 200ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}

.dialog:hover {
    background-color: white;
    box-shadow: gray 1px 1px 1px;
}

.dialogLink:focus {
   font-weight: 700;
}

.dialogLink {
    color: #1B1F47;
    text-decoration: none;
    flex: 1 1 auto;
}

.messages {
    padding: 10px;
}

.message {

}