.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
 padding: 10px;
}

.dialog {
   text-align: center;

    transition: 200ms linear;
}

.dialog:hover {
    background-color: #ecd8e9;
}

.dialogLink {
    text-decoration: none;
}

.messages {
 padding: 10px;
}

.message {

}